{% extends "GamifiedFittness/layout.html" %}

{% block head %}
{% endblock %}

{% block header %} 
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1 class="header">My Activities</h1>
        <button type="button" class="btn btn-outline-secondary m-lg-3"
            @click="beforeAdd" data-bs-toggle="modal" data-bs-target="#addActivity">
            + Activity
        </button>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="addActivity" tabindex="-1" aria-labelledby="addActivityModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addActivityModal">Add Activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="response-message" class="alert d-none"></div>

                    <form id="activity-add-form">
                        <div class="mb-3">
                            <label for="activity" class="form-label">Activity</label>
                            <select id="activity" name="activity" class="form-select" v-model="activity.id" 
                                @change="activityChange" required>
                                <option value="0" disabled selected>Select an activity</option>
                                    <option  v-for="activity in activities"
                                        :value="activity?.id">
                                        [[ activity?.name ]]
                                    </option>
                            </select>
                        </div>
                
                        <div class="mb-3">
                            <label for="effort" class="form-label">Effort</label>
                            <div class="d-flex">
                                <input type="number" id="effort" name="effort" class="form-control me-2"
                                    v-model="activity.effort"  placeholder="Enter effort (e.g., minutes, meters, etc.)" required>
                                <input type="text" id="unit" class="form-control" :value="unit?.name" style="width: fit-content;" disabled>
                            </div>
                        </div>
                
                        <!-- Start Date -->
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Start Date</label>
                            <input type="date" id="start_date" name="start_date" v-model="activity.start_date" class="form-control">
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" @click="addActivity">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Filter -->
    <div class="card m-4" style="width: 95%;">
        <h2 class="card-header">Filter</h2>
        <div class="card-body">
            <form id="filter-activities-form">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" 
                                v-model="filter.name" placeholder="Enter activity name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" 
                                v-model="filter.date">
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" @click="list">Filter</button>
                    <button class="btn btn-danger" @click="reset"> Reset </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Filter Results -->
    <div class="border-light card m-4">
        <h2 class="card-header">Activities</h2>
        <div v-if="user_activities.length > 0" class="card-body">
            <div class="d-flex flex-wrap">
                <div class="card me-5 mb-5" style="width:fit-content" v-for="user_activity in user_activities">
                    <div class="card-header d-flex align-items-center">
                        <h4> 
                            <span v-if="user_activity.activity.id == 1">
                                <i class="fas fa-running"></i>
                            </span>
                            <span v-else-if="user_activity.activity.id == 2">
                                <i class="fa fa-water"></i>
                            </span>
                            <span v-else-if="user_activity.activity.id == 3">
                                <i class="fas fa-biking"></i>
                            </span>
                            <span v-else-if="user_activity.activity.id == 4">
                                <i class="fa fa-walking"></i>
                            </span>
                            <span v-else>
                                <i class="fas fa-question-circle"></i>
                            </span>
                            [[ user_activity.activity.name ]] 
                        </h4> 
                        <span class="ms-3"> [[ user_activity.effort ]] [[ user_activity.activity.unit.name ]] </span>
                    </div>
                    <div class="card-body">
                        <span class="me-5"><i class="fas fa-fire" style="color: gold;"></i> [[ user_activity.calories ]] Cal</span>
                        <span class="me-5"><i class="fas fa-star" style="color: gold;"></i> [[ user_activity.points ]] Pts</span>
                        <p class="card-text mt-4">
                            <small class="d-flex justify-content-end text-muted"> 
                                <i class="fa-calendar-alt fas me-1"></i>
                                [[ user_activity.start_date ]] 
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="alert alert-warning m" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> No Activities Yet
        </div>
    </div>

   
{% endblock %}


{% block script %}
    <script type="module">

        const { createApp, ref, onMounted } = Vue;

        const App = {
            delimiters: ['[[', ']]'], // Change delimiters to avoid conflict
            setup() {
                const filter = ref({});
                const user_activities = ref([]);
                const activities = ref([]);
                const activity =  ref({
                    id: 0,
                    effort: 0,
                    start_date: ""
                });
                const unit = ref({});
                const csrftoken = '{{ csrf_token }}';

                async function list (){
                    var strUrl = "{% url 'list_user_activity' %}";
  
                    let fetchResult = await fetch(strUrl, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({ filter: filter.value })
                        });
                        let response = await fetchResult.json();
                        if(!response.success){
                            user_activities.value = [];
                        }else{
                            user_activities.value = response.user_activities;
                        }
                } 

                async function listActivities (){
                    var strUrl = "{% url 'list_activity' %}";
  
                    let fetchResult = await fetch(strUrl, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                        });
                        let response = await fetchResult.json();
                        if(!response.success){
                            activities.value = [];
                        }else{
                            activities.value = response.activities;
                        }
                } 


                async function addActivity (){
                    var strUrl = "{% url 'add_activity' %}";
  
                    let fetchResult = await fetch(strUrl, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({ activity: activity.value })
                        });
                        let response = await fetchResult.json();
                        if(!response.success){
                            showErrorMessage("response-message", response.message || "Failed to Add activity.");
                        }else{
                            showSuccessMessage("response-message", "Successfully Added the activity!");
                            filter.value = {};
                            list();
                            activity.value = {
                                id: 0,
                                effort: 0,
                                start_date: ""
                            };
                        }
                } 

                function reset() {
                    filter.value = {}
                    list()
                }

                function beforeAdd() {
                    resetMessage("response-message");
                }

                function activityChange() {
                    unit.value = activities.value.filter(item => item.id ==  activity.value.id)[0]?.unit;
                }

                function showSuccessMessage(responseMessageID, message) {
                    const responseMessage = document.getElementById(responseMessageID);
                    responseMessage.classList.remove("d-none", "alert-danger");
                    responseMessage.classList.add("alert-success");
                    responseMessage.textContent = message;
                }

                function showErrorMessage(responseMessageID, message) {
                    const responseMessage = document.getElementById(responseMessageID);
                    responseMessage.classList.remove("d-none", "alert-success");
                    responseMessage.classList.add("alert-danger");
                    responseMessage.textContent = message;
                }

                function resetMessage(responseMessageID) {
                    const responseMessage = document.getElementById(responseMessageID);
                    responseMessage.textContent = "";
                    responseMessage.classList.remove("alert-success", "alert-danger");
                    responseMessage.classList.add("d-none");
                }

                onMounted(() => {
                    list();
                    listActivities();
                })

                return {
                    filter, user_activities, activities, activity, unit,
                    list, reset, beforeAdd, activityChange, addActivity
                };
            },
        };

        // Initialize the Vue app and mount it to the DOM
        createApp(App).mount('#app');
    </script>

{% endblock %}
