{% extends "GamifiedFittness/layout.html" %}

{% block head %}
<style>
     #dailyUserActivityPointsChart, #dailyUserChallengePointsChart {
        max-width: 600px; 
        margin: 0 auto;    /* Center the chart */
        width: 100%; 
    }

</style>
{% endblock %}

{% block header %} <h1 class="header"> Dashboard </h1> {% endblock %}

{% block body %}
    <div id="summary" style="margin: 10px;">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Points</div>
                    <div class="card-body">
                      <h5 class="card-title">{{summary.total_points}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Calories</div>
                    <div class="card-body">
                      <h5 class="card-title">{{summary.total_calories}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Rank</div>
                    <div class="card-body">
                      <h5 class="card-title">10</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Activities</div>
                    <div class="card-body">
                      <h5 class="card-title">{{summary.activity_summary.count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="badges">
        {% for user_badge in user_badges %}
            <div class="badge" title="{{user_badge.badge.description}}">
                🏅 {{ user_badge.badge.name }}
            </div>
        {% endfor %}
    </div>
 
    {% if goal %}
        <div id="goal">
            <div class="progress" style="height: 30px; margin: 15px;">
                <div class="progress-bar" role="progressbar" style="width: {{ goal.progress_precentage }}%;" aria-valuenow="{{ goal.progress_precentage }}" aria-valuemin="0" aria-valuemax="100">{{ goal.progress_precentage }}%</div>
            </div>
        </div>
    {% endif %}


    <div id="charts">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Points Per Day For Activities</h6>
                        <canvas id="dailyUserActivityPointsChart"></canvas>
                        <div style="width:60%; margin: 0 auto;">
                            <h6> Activities Number: <span class="text-body-secondary">{{summary.activity_summary.count}}</span></h6>
                            <h6> Total Points:  <span class="text-body-secondary">{{summary.activity_summary.total_points}}</span> </h6>
                        </div>
                        <a href="{% url 'list_activity' %}" class="card-link">Go to My Activities</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Points Per Day For Challenges</h6>
                        <canvas id="dailyUserChallengePointsChart"></canvas>
                        <div style="width:60%; margin: 0 auto;">
                            <h6> Total chalenges Number: <span class="text-body-secondary">{{summary.challenge_summary.count}}</span> </h6>
                            <h6> Total Points: <span class="text-body-secondary">{{summary.challenge_summary.total_points}}</span> </h6>
                        </div>
                        <a href="#" class="card-link">Go to My Challenges</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>    
        const activity_summary = {{ summary.activity_summary|safe }};
        const challenge_summary = {{ summary.challenge_summary|safe }};

        // Activity Summary Chartelse {
        renderChart(
            'dailyUserActivityPointsChart',
            activity_summary.points_per_day.map(item => item.date),
            activity_summary.points_per_day.map(item => item.points),
            activity_summary.points_per_day.map(item => item.calories),
            'Total Points Per Day (Activity)'
        );

        
        
        // Challenge Summary Chart
        renderChart(
            'dailyUserChallengePointsChart',
            challenge_summary.points_per_day.map(item => item.date),
            challenge_summary.points_per_day.map(item => item.points),
            challenge_summary.points_per_day.map(item => item.calories),
            'Total Points Per Day (Challenge)' 
        );

    </script>
{% endblock %}
