{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}GamifiedFittness{% endblock %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'GamifiedFittness/css/bootstrap.min.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'GamifiedFittness/css/styles.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block head %}{% endblock %}
         <!-- js -->
         <script type="importmap">
            {
              "imports": {
                "vue": "https://cdn.jsdelivr.net/npm/vue@3.2.45/node_modules/vue/dist/vue.esm-browser.js"
              }
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.js"></script>
        <script src="{% static 'GamifiedFittness/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'GamifiedFittness/js/common.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body id = "app">
        <nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
            <a class="navbar-brand" href="{% url 'index' %}">💪 Fittness</a>
            <!-- Toggler for smaller screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_activity_view' %}">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_chalenge_view' %}">Challenges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'leaderboard_view' %}">Leaderboard</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown me-4">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link" href="{% url 'list_activity_view' %}">My Activities</a></li>
                                <li><a class="dropdown-item nav-link" href="{% url 'list_chalenge_view' %}">My Challenges</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item nav-link" href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        
        <div>{% block header %} {% endblock %}</div>

        <div class="body">

            {% block body %}
            {% endblock %}

            {% block modal %}
            {% endblock %}

            {% block script %}
            {% endblock %}
        </div>
    </body>
</html>